<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="fixed-right">
      <h3>Stay in touch!</h3>
      <p>Sign up to our mailing list for updates, webinars, event invitations, and more.</p>
      <a href="http://eepurl.com/h6evyf" target="_blank">
        <div class="fixed-btn">
      <p>Join mailing list</p>
        </a>
    </div>
  </div>

  <p class="rss-subscribe"><a href="/feed.xml">subscribe via RSS</a></p>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a rel="author" href="{{ "/" | relative_url }}">
          <img class="logo" src="https://assets.website-files.com/5e85a4d3fa63bc79fc825c72/6196266f72a7e297b3804844_logo_devup.png" />
        </a>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
